flows-2.json
[
    {
        "id": "1600b1dbe01c8b21",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fd7164be8d290b60",
        "type": "inject",
        "z": "1600b1dbe01c8b21",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "00129fafd38e52c7"
            ]
        ]
    },
    {
        "id": "c2c657e1b7711763",
        "type": "debug",
        "z": "1600b1dbe01c8b21",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "00129fafd38e52c7",
        "type": "function",
        "z": "1600b1dbe01c8b21",
        "name": "Convertir fecha",
        "func": "\n// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "c2c657e1b7711763",
                "58b1653d63491f1d"
            ]
        ]
    },
    {
        "id": "58b1653d63491f1d",
        "type": "ui_text",
        "z": "1600b1dbe01c8b21",
        "group": "bf9ba01ab29499f4",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Hora actual",
        "label": "La hora es",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "bf9ba01ab29499f4",
        "type": "ui_group",
        "name": "Hora",
        "tab": "f7e87893c1a49249",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f7e87893c1a49249",
        "type": "ui_tab",
        "name": "Hora",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]